$primary-1: #202023;
$primary-2: #f3f3f3;

$secondary: #26c7bc;
$secondary-darker: #1abeb4;

$accent: #b82676;
$accent-light: #ec168c;

$away-light-bg: #f8d3e7;
$away-dark-bg: #e6fffa;

$footer-header-dark-bg: #131313;
$footer-header-light-bg: rgb(230, 230, 230);

:root {
  --page-background-color: #{$primary-1};
  --text-color: #{$primary-2};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --accent-light: #{$accent-light};
  --away-link-bg: #{$away-dark-bg};
  --footer-header-bg: #{$footer-header-dark-bg};
}

:root[data-theme="light"] {
  --page-background-color: #{$primary-2};
  --text-color: #{$primary-1};
  --secondary: #{$accent-light};
  --accent: #{$secondary};
  --accent-light: #{$secondary-darker};
  --away-link-bg: #{$away-light-bg};
  --footer-header-bg: #{$footer-header-light-bg};
}
