/* This CSS is common to all pages */
@use "./layout/header";
@use "./base/colors";
@use "./base/typography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--page-background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-2);
}

.progress-value {
  animation: load 3s normal forwards;
}

@keyframes load {
  0% {
    width: 0;
  }

  25% {
    width: 25%;
  }

  70% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}

// Transitions
.page-transition-start {
  transition: all 0.4s ease-in-out;
  transform: translate(0, 20px);
  opacity: 0;
}

.page-transition-end {
  transition: all 0.4s ease-in-out;
  transform: translate(0, 0);
  opacity: 1;
}
