/* This CSS is common to all pages */
@use "./layout/main";
@use "./layout/header";
@use "./base/colors";
@use "./base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--page-background-color);
  color: var(--text-color);
}

main {
  max-width: 87%;
  margin: auto;
}

section {
  padding: 3rem 0;

  h3 {
    padding-bottom: 1rem;
  }
}

a {
  text-decoration: none;
  color: var(--primary-2);
}

.accent-color {
  color: var(--secondary);
}

.progress-value {
  animation: load 3s normal forwards;
}

.card-image {
  max-width: 40vw;
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
}

.card-a {
  text-align: center;

  h4 {
    padding-top: 0.5rem;
  }
}

@keyframes load {
  0% {
    width: 0;
  }

  25% {
    width: 25%;
  }

  70% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}

// Transitions
.page-transition-start {
  transition: all 0.4s ease-in-out;
  transform: translate(0, 20px);
  opacity: 0;
}

.page-transition-end {
  transition: all 0.4s ease-in-out;
  transform: translate(0, 0);
  opacity: 1;
}

@media only screen and (max-width: 730px) {
  nav {
    h1 {
      font-size: 2.2rem;
    }
  }

  .vertical-line {
    border-bottom: 1px solid var(--secondary);
  }

  .double-side {
    flex-direction: column;
    gap: 2rem;

    div:first-of-type {
      width: 90%;
    }

    div:nth-of-type(2) {
      width: 90%;
    }
  }

  .card-image {
    max-width: 60%;
  }

  section {
    h3 {
      padding-bottom: 0.8rem;
    }
  }
}

@media only screen and (max-width: 575px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;

    a {
      font-size: 0.95rem;
    }
  }

  .double-side {
    gap: 3rem;

    div:first-of-type,
    div:nth-of-type(2) {
      width: 100%;
    }
  }

  .card-image {
    max-width: 100%;
  }
}

@media only screen and (max-width: 315px) {
  header {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  #change-theme {
    width: 2rem;
  }

  nav {
    li:last-of-type {
      a {
        gap: 0px;
      }
    }
  }
}
