header {
  background-color: var(--footer-header-bg);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.2rem 6.5% 1rem 6.5%;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  li:last-of-type {
    a {
      align-items: center;
      display: flex;
      padding: 0;
      gap: 5px;
    }
  }

  a {
    transition: color 0.2s ease;

    &:hover {
      color: var(--secondary);
    }
  }
}

#logo {
  width: fit-content;
}

#change-theme {
  width: 2.5rem;
  padding-top: 0.35rem;

  path {
    fill: var(--secondary);
  }
}

.navitem {
  padding: 3px 0;
}
.navitem.is-active {
  color: var(--secondary);
}

@media only screen and (max-width: 730px) {
  nav {
    h1 {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (max-width: 575px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;

    a {
      font-size: 0.95rem;
    }
  }
}

@media only screen and (max-width: 315px) {
  header {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  #change-theme {
    width: 2rem;
  }

  nav {
    li:last-of-type {
      a {
        gap: 0px;
      }
    }
  }
}
