header {
  background-color: var(--footer-header-bg);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.2rem 6.5% 1rem 6.5%;

  position: fixed;
  width: 100%;
  z-index: 5;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: 1.5rem;
  }

  li:last-of-type {
    a {
      align-items: center;
      display: flex;
      padding: 0;
      gap: 5px;
    }
  }

  a {
    transition: color 0.2s ease;

    @media (hover: hover) {
      &:hover {
        color: var(--secondary);
      }
    }
  }
}

#logo {
  width: fit-content;
  height: fit-content;
}

#change-theme {
  width: 2.5rem;
  padding-top: 0.35rem;

  path {
    fill: var(--secondary);
  }
}

.navitem {
  padding: 3px 0;
}
.navitem.is-active {
  color: var(--secondary);
}
