.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  img {
    max-width: 30vw;
    max-height: 30vw;
    // max-width: 100%;
    width: 100%;
    min-width: 12rem;
    min-height: 12rem;
    object-fit: cover;
    border-radius: 9999px;
  }
}

.main-button {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--secondary);
  color: var(--page-background-color);
  transition: color 0.2s ease;
  width: fit-content;
}

.project-away-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid;
  border-radius: 0.35rem;
  color: var(--secondary);
  transition: background-color 0.2s ease-in-out;
  width: fit-content;

  &:hover {
    background-color: var(--away-link-bg);
  }
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 50vw;
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
  }
}

.double-side {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 3rem;
  justify-content: space-evenly;
}

.double-side-text {
  display: flex;

  div:first-of-type {
    width: 45%;
  }
  div:nth-of-type(2) {
    width: 55%;
  }

  gap: 1.5rem;
  justify-content: space-evenly;
}

.vertical-line {
  border-left: 1px solid var(--accent);
}

.project-section {
  display: flex;
  flex-direction: column;

  .main-button {
    margin-top: 1.5rem;
    align-self: center;
  }
}

@media only screen and (max-width: 620px) {
  .intro-section {
    flex-direction: column-reverse;
    gap: 1.5rem;

    h2 {
      text-align: center;
    }
  }

  .main-button {
    align-self: center;
  }
}
